* {
    margin: 0;
    padding: 0;
}

/*Header*/

.header {
    background:lightskyblue;
    padding: 10px;
}

.navigation{
    background: purple;
    padding: 25px;
}

.navigation__item {
    color: aqua;
    font-size: 20px;
}

.navigation__item--cursive {
    font-style: italic;
}

/*maim*/

.principal {
    display: flex;
}

.principal__item {
    width: 100%;
    margin: 0px;
    padding: 2%;
    text-align: center;
    border: 1px solid purple;
}

.principal__item__titulo {
    font-size: 80px;
}

.desarrollo {
    width: 100%;
    border: 1px solid purple;
}

.desarrollo__titulo {
    text-align: center;
    margin-top: 20px;
}

.desarrollo__parrafo {
    text-align: center;
}

.desarrollo__form {
    margin-left: 5px;
    margin-top: 50px;
}

.desarrollo__form__box__label {
    font-size: 50px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.desarrollo__form__box__input {
    padding: 8px 100px;
    margin-left: 30px;
   border: 0.5px solid purple;
}

.nomber__form__box {
    margin-top: 40px;
}

.nomber__form__box__label {
    font-size: 50px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.nomber__form__box__input {
    padding: 8px  40px;
    border: 0.5px solid purple;

}

.desarrollo__butoon {
    padding: 12px   50px;
    margin-left: 50%;
    margin-top: 45px;
    margin-bottom: 145px;
    border: 5px solid purple;
}

/*footer*/

.footer {
    border: 1px solid purple;
    width: 100%;
}

.footer span {
    padding-left: 36%;
}

.footer__parrafo {
    margin-left: 7px;
    font-size: 50px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
