* {
    margin: 0;
    padding: 0;
}

.header {
    background:lightskyblue;
    padding: 10px;
}

.navigation{
    background: purple;
    padding: 25px;
}

.navigation__item {
    color: aqua;
    font-size: 20px;
}

.navigation__item--cursive {
    font-style: italic;
}

