* {
    margin: 0;
    padding: 0;
}

/*Header*/

.header {
    background:lightskyblue;
    padding: 10px;
}

.navigation{
    background: purple;
    padding: 25px;
}

.navigation__item {
    color: aqua;
    font-size: 20px;
}

.navigation__item--cursive {
    font-style: italic;
}

/*maim*/

.principal {
    display: flex;
}

.principal__item {
    width: 100%;
    margin: 0px;
    padding: 2%;
    text-align: center;
    border: 1px solid purple;
}

.principal__item__titulo {
    font-size: 80px;
}